#box {border-radius: 100px;background-image: url(https://i.pinimg.com/originals/d3/38/95/d338958ff2bc814159af16dffa99bf00.gif);margin: 0vw 10px 0vw 10px;position: relative;top: 0;left: 0;}

.container {padding: 40px;}

.char {border-radius: 50%;position: absolute;left: 0;right: 0;top: 10%;margin-left: auto;margin-right: auto;}
.border {position: absolute;left: 0;right: 0;top: 2%;margin-left: auto;margin-right: auto;}

#char{background-image: url();margin: 0px 100px 0px 100px;padding: 100px;}

ul.a {position: absolute;color: white;font-size: 1.5em;font-family: fantasy;padding: 0px 0px 0px 1em;}

li.item a.Bttn{color:white !important;}

li.item a.Bttn:hover {opacity: 60%;}

.Stats{font-size:0.7em !important;font-family: fantasy !important;margin: 2px !important;}

.statsdiv{top: 40px !important;left: 420px !important;position:absolute !important;color:white !important;font-family:fantasy !important;font-size:1.5em !important}

li.item {margin: 0vw;padding: 0px 0px 0px 30px;list-style: none;background-image: url("https://i.pinimg.com/originals/c1/7a/84/c17a84e6e145fdd1859943ed187b6506.gif");background-repeat: no-repeat;background-size: 25px;}